{% extends "base.html" %}

{% block content %}
<h3 align="center">Добавление Рецепта</h3>
<form action="" method="post" enctype="multipart/form-data">
    {{ form.hidden_tag() }}
    <p>
        {{ form.title.label }}<br>
        {{ form.title(class="form-control", type="title") }}<br>
    </p>
    <p>
        {{ form.ingridients.label }}<br>
        {{ form.ingridients(class="form-control") }}<br>
    </p>
    <p>
        {{ form.content.label }}<br>
        {{ form.content(class="form-control", type="content") }}<br>
    </p>
    <p>{{ form.is_private() }} {{ form.is_private.label }}</p>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
    {{message}}
</form>
{% endblock %}