{% extends "base.html" %} {% block title %}регистрация{% endblock %}

{% block content %}
<form action="" method="post">
    <h3 align="center">Регистрация</h3>
    {{ form.hidden_tag() }}
    <p>
        {{ form.email.label }}<br>
        {{ form.email(class="form-control", type="email") }}<br>
    </p>
    <p>
        {{ form.name.label }}<br>
        {{ form.name(class="form-control", type="name") }}<br>
    </p>
    <p>
        {{ form.password.label }}<br>
        {{ form.password(class="form-control", type="password") }}<br>
    </p>
    <p>
        {{ form.password_again.label }}<br>
        {{ form.password_again(class="form-control", type="password") }}<br>
    </p>
    {{message}}
    </br>
    <p>{{ form.submit(type="submit", class="btn btn-primary") }}</p>
</form>
{% endblock %}